h1, h2, h3, h4{
	text-align: center;
}

h2 {
	color: darkcyan;
}

div{
	box-sizing: border-box;
}

body {
	background-color: silver;
	margin: 0px;
	font-family: sans-serif;
}
header{
	background: black;
    color: white;
    width: 100%;
    padding: 10px 5px;
    z-index: 20;
    text-align: center;
    box-sizing: border-box;
}

footer{
	background: black;
	color: white;
	text-align: center;
	padding: 20px;
}

section {
	max-width: 1200px;
	margin: 0px auto; 
}

header nav{
	width: 90%;
	margin: 0 auto;
}

header nav a, footer a{
    text-decoration: none;
    color: burlywood;
    display: inline-block;
}

header nav a{
    width: 19%;
}

header nav a:hover, footer a:hover{
	color: cadetblue;
}

article{
    margin: 10px 0px 20px;
    text-align: justify;
    border: solid 1px white;
    padding: 10px 35px;
    border-radius: 5px
}

img{
	width: 100%;
	border-radius: 20px;
}

#informacionPersonal div, #hobbies div {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

.headerSeparator{
	height: 120px;
}

#experienciaLaboral tbody tr th:nth-child(1){
	width: 20%;
} 

#experienciaLaboral tbody tr th:nth-child(2){
	width: 17%;
} 

#experienciaLaboral tbody tr th:nth-child(3){
	width: 23%;
} 

#experienciaLaboral tbody tr th:nth-child(4){
	width: 40%;
}

#experienciaLaboral table {
    border-collapse: collapse;
}

#experienciaLaboral table,#experienciaLaboral th,#experienciaLaboral td {
    border: 1px solid black;
}

#experienciaLaboral th{
	text-align: center;
	padding: 10px 0px;
	color: steelblue;
}


#experienciaLaboral td {
    text-align: left;
    padding: 10px;
    vertical-align: top;
}

#experienciaLaboral tr td:first-child {
	font-weight: 800;
}